body{
    background-color: #F0F8FF;
    color: #4C79D5;
    /* margin: 0; */
}

/* input{
    border-radius: 5px;
    border: none;
    width: 80%;
    height: 4vh;
    color: #4C79D5;
    margin-left: 8%;
} */

input:focus{
    border-color: #4C79D5;
}

/* label{
    font-size: 20px;
    margin-left: 8%;
}

.usuario_content{
    display: flex;
    margin-left: 10%;
  }

.usuario_img{
    width: 32%;
} */

.usuario_info{
    padding-left: 5rem;
}

#menu{
    width: 100%;
    height: 13vh;
    background-color: #4C79D5;
    padding: 0%;
    display: flex;
    justify-content: space-between;
}


#usuario_foto{
    width: 100%;
    padding: 0px;
    margin-top: 15px;
    margin-right: 15px;
}


#topoContainer{
    background-color: #1a6f3a;
}


i{
    color: white;
}

#logoLogin:hover{
    opacity: 0.8;
}



#logoLogin{
    width: 50px;
    height: 50px;
}

#linkBtnCadastro{
    color: white;
    text-decoration: none;
}

#linkBtnCadastro:hover{
    color: #1a6f3a;
}

@media only screen and (max-width: 660px) {
    #jaCadastro, #naoCadastro{
        margin-top: 5%;
    }
    
    #jaCadastroDiv, #naoCadastroDiv{
        width: 100%;
    }

    #btnNovoCadastro{
        width: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #usuario{
        font-size: 10px;
    }

    #logo{
        width: 38px;
        height: 38px;
    }
}