body{
    background-color: #F0F8FF;
    color: #4C79D5;
    margin: 0;
}

input{
    border-radius: 5px;
    border: none;
    width: 80%;
    height: 4vh;
    color: #4C79D5;
    margin-left: 8%;
}

input:focus{
    border-color: #4C79D5;
}

label{
    font-size: 20px;
    margin-left: 8%;
}

#btnLogin{
    width: 50%;
    height: 30px;
    margin-left: 25%;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    background-color: #4C79D5;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

i{
    color: white;
}
#btnCadastrar{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #1a6f3a;
    color: white;
}
#logoCadastro:hover{
    opacity: 0.8;
}
#btnCadastrar:hover{
    background-color: #98112e;
}

#logoCadastro{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 480px){
  
    input, select{
        width: 90%;
    }

    #usuario{
        font-size: 10px;
    }

    #logo{
        width: 38px;
        height: 38px;
    }
}